*{
    margin: 0;
    top: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px 100px 0;
    background: linear-gradient(0deg, rgba(158,0,255,1) 0%, rgba(25,0,221,1) 100%);
}

.section::before{
    content: 'JORDAN 1';
    position: absolute;
    font-size: 15vw;
    color: rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    /* margin-top: 10vh; */
}

header{
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo img{
    max-width: 100px;
}

.toggle{
    width: 30px;
    height: 30px;
    background: url(../img/menu.png);
    background-size: 30px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
}