*{
    margin: 0;
    top: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px 100px 0;
    background: linear-gradient(0deg, rgba(158,0,255,1) 0%, rgba(25,0,221,1) 100%);
}

.section::before{
    content: 'JORDAN 1';
    position: absolute;
    font-size: 15vw;
    color: rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    /* margin-top: 10vh; */
}

header{
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo img{
    max-width: 100px;
}

.toggle{
    width: 30px;
    height: 30px;
    background: url(../img/menu.png);
    background-size: 30px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
}

.content{
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.content .imgbx{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.content .imgbx img{
    max-width: 100%;
    margin-top: -6.7em;
}

.content .text{
    max-width: 700px;
    margin-top: 20px;
}

.content .text h2{
    color: #fff;
    font-size: 2.5em;
    font-weight: 800;
    text-transform: uppercase;
}

.content .text p{
    color: #fff;
}

.content .text a{
    display: inline-block;
    padding: 10px 30px;
    color: #111;
    background: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 2px;
    margin-top: 13px;
}

.content .text a:hover{
    color: #fff;
    background: #111;
    font-size: 15px;
}

.social{
    position: absolute;
    bottom: 50px;
    right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    filter: invert(1);
}

.social li{
    list-style: none;
}

.social li a{
    display: block;
    transform: scale(.7);
}

/* RESPONSIVE DESIGN */
@media (max-width: 800px){
    header{
        padding: 20px 40px;
    }

    .section{
        padding: 40px;
        overflow-x: hidden;
    }

    .section::before{
        font-size: 8vw;
        left: 50%;
        transform: translateX(-50%);
    }

    .content{
        margin-top: 120px; 
    }

    .social{
        margin-top: 80px;
        position: relative;
        bottom: 0;
        right: initial;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        filter: invert(1);
    }

    .social li{
        margin-right: 15px;
    }
}